.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

html{
    background-color: black;
    color: white;
}

  
div{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

img{
    width: 100%;
    border: 5px double white;
    margin-top: 5%;
}

h1{
    text-transform: uppercase;
}
  